absl-py==0.6.0
astor==0.7.1
backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==1.5.0
bokeh==0.12.10
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.1.1
dill==0.2.8.2
en-core-web-sm==2.0.0
entrypoints==0.2.3
gast==0.2.0
grpcio==1.16.0
h5py==2.8.0
html5lib==0.9999999
idna==2.6
imbalanced-learn==0.3.3
ipykernel==5.1.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.1.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==3.0.2
matplotlib2tikz==0.6.15
mistune==0.8.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nbconvert==5.2.1
nbformat==4.3.0
networkx==2.0
notebook==5.7.4
numexpr==2.6.8
numpy==1.15.0
oauthlib==2.0.7
olefile==0.44
pandas==0.20.3
pandocfilters==1.4.2
patsy==0.5.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
plac==0.9.6
preshed==2.0.1
prometheus-client==0.5.0
prompt-toolkit==1.0.14
protobuf==3.6.1
psycopg2==2.7.3.1
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
pyproj==1.9.5.1
pyshp==1.2.12
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
PyYAML==4.2b1
pyzmq==17.1.2
qtconsole==4.3.1
regex==2018.1.10
requests==2.21.0
requests-oauthlib==0.8.0
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.1
selenium==3.11.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
spacy==2.0.16
SQLAlchemy==1.1.14
statsmodels==0.8.0
tables==3.4.4
tensorboard==1.11.0
tensorflow==1.2.1
tensorflow-gpu==1.11.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thinc==6.12.0
toolz==0.9.0
tornado==4.5.1
tqdm==4.28.1
traitlets==4.3.2
tweepy==3.6.0
ujson==1.35
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==2.0.0
wrapt==1.10.11
xgboost==0.7.post4
xlrd==1.1.0
